.conteiner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    margin-left: auto;
}
.esp{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.ejercicos{
  display: grid;
  border: solid 2px rgba(0, 221, 209, 0.5);
  padding: 16px;
  border-radius: 16px;
}
.listaE{
width: 40%;
}
.continerG {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  gap: 16px; /* Espacio entre las columnas */
  margin-bottom: 16px;
}
h1{
  text-align: center;
}
h2{
  text-align:end;
}
