<h2 mat-dialog-title>{{exercises()[counter()].nombre}} </h2>
<mat-dialog-content>
  <p>{{counterDescanso}} / {{exercises()[counter()].series}} series completadas.</p>
  <p>{{exercises()[counter()].repeticiones}} repeticiones.</p>
  <p>{{exercises()[counter()].peso}}Kg.</p>
  <p>Descanso de {{exercises()[counter()].descanso}}`</p>
  <div class="spinner">
    <mat-progress-spinner
      class="example-margin"
      [color]="color()"
      [value]="descansoP()">
    </mat-progress-spinner>
    <div class="spinner-text">
      <h2>{{descansoTime()}}`</h2>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  @if (counter() != 0) {
    <button mat-button (click)="back()" cdkFocusInitial>Anterior</button>
  }
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="descanso()" cdkFocusInitial>Descanso</button>
  @if (counter() != exercises().length - 1){
    <button mat-button (click)="next()" cdkFocusInitial>Siguiente</button>
  }
</mat-dialog-actions>
